/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Estilos del navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b0b0b;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navbar--hidden {
  transform: translateY(-100%);
}

.navbar ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar li {
  margin: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.navbar li a:hover {
  background-color: #424242;
}

/* Estilo específico para el enlace "Inicio" */
.navbar li a[onclick="Inicio"] {
  color: rgb(80, 183, 251);
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
  .navbar ul.horizontal {
    flex-direction: column;
  }

  .navbar li {
    width: 100%;
  }

  .navbar li a {
    border-bottom: 1px solid #333;
  }
}

/* Termina el codigo del snavbar */

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* Estilos del logo */
.logo {
  float: left;
  margin-right: 20px;
  max-width: 100px;
  height: auto;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del contenido */
.content {
  overflow: hidden;
}

h1 {
  color: #2c3e50;
  margin-top: 0;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

/* Estilo de la apps*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2980b9;
}

/* Estilos de los enlaces */
a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #d5dee4;
  text-decoration: underline;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .logo {
    float: none;
    display: block;
    margin: 0 auto 20px;
  }

  h1 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .btn {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px;
  }

  .logo {
    max-width: 80px;
  }

  h1 {
    font-size: 24px;
  }
}